<h1>New User</h1>

<%= form_for @user do |f| %>
  <%= f.label :username %><br>
  <%= f.text_field :username %><br>
  <%= f.label 'Password' %><br>
  <%= f.text_field :password_digest %><br>
  <%=  f.submit %>
<% end %>

<%= link_to 'Back', root_path %>
